<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Header</title>
</head>
<body>

<header>
    <!-- Logo -->
    <div class="logo">
        <a class="logo title-bold">Indio's Pomodoro Paws</a>
    </div>
    
    <!-- Botón de cerrar sesión -->
    <ul>
        <li>
            <a href="../../pagina/index.html" class="logout-btn">Cerrar Sesión</a>


        </li>
    </ul>
</header>

<!-- Sección de navegación -->
<div class="navigation-section">
    <!-- Botones de navegación -->
    <a href="inicio.php" class="nav-btn">Inicio</a>
    <a href="pomodoro.php" class="nav-btn">Metodo Pomodoro</a>
    
    
</div>

</body>
</html>
